#   _____             __ _                       _   _                
#  / ____|           / _(_)                     | | (_)                
# | |     ___  _ __ | |_ _  __ _ _   _ _ __ __ _| |_ _  ___  _ __  ___ 
# | |    / _ \| '_ \|  _| |/ _` | | | | '__/ _` | __| |/ _ \| '_ \/ __|
# | |___| (_) | | | | | | | (_| | |_| | | | (_| | |_| | (_) | | | \__ \
#  \_____\___/|_| |_|_| |_|\__, |\__,_|_|  \__,_|\__|_|\___/|_| |_|___/
#                           __/ |                                      
#                          |___/   
# 
[include includes.cfg]


####################
### printer init ###
####################
[printer]
kinematics: delta
max_accel: 20000
max_velocity: 1000
minimum_z_position: -2 # user can set to
#delta_radius: 385
print_radius: 210
square_corner_velocity: 100

###############
### Tower a ###
###############
[stepper_a]
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14
#arm_length: 675
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: ^PG15
#position_endstop: 854
homing_speed: 100
homing_retract_dist: 2.0
homing_retract_speed: 2
second_homing_speed: 2

[tmc5160 stepper_a]
cs_pin: PC4
spi_bus: spi1
run_current: 1.6

[stepper_a1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA2
microsteps: 16
rotation_distance: 40

[tmc5160 stepper_a1]
cs_pin: PC7
spi_bus: spi1
run_current: 1.6

###############
### Tower b ###
###############
[stepper_b]
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: ^PG13
homing_speed: 100
homing_retract_dist: 5.0
homing_retract_speed: 10
second_homing_speed: 10

[tmc5160 stepper_b]
cs_pin: PD11
spi_bus: spi1
run_current: 1.6

[stepper_b1]
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
microsteps: 16
rotation_distance: 40

[tmc5160 stepper_b1]
cs_pin: PF2
spi_bus: spi1
run_current: 1.6

###############
### Tower c ###
###############
[stepper_c]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: ^PG14
homing_speed: 100
homing_retract_dist: 5.0
homing_retract_speed: 10
second_homing_speed: 10

[tmc5160 stepper_c]
cs_pin: PC6
spi_bus: spi1
run_current: 1.6

[stepper_c1]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
microsteps: 16
rotation_distance: 40

[tmc5160 stepper_c1]
cs_pin: PE4
spi_bus: spi1
run_current: 1.6

################
### extruder ###
################
[extruder]
step_pin: EBBCan:PD0
dir_pin: !EBBCan:PD1
enable_pin: !EBBCan:PD2
microsteps: 16
rotation_distance: 22.67895
full_steps_per_rotation: 200
gear_ratio: 50:7
nozzle_diameter: 0.800
filament_diameter: 1.750
heater_pin: EBBCan:PB13
sensor_type: MAX31865
sensor_pin: EBBCan:PA4
spi_bus: spi1_PA6_PA7_PA5
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 300
min_extrude_temp: 180 
max_extrude_only_distance: 200 
pressure_advance = 0.0256

[tmc2209 extruder]
uart_pin: EBBCan:PA15
run_current: 0.8

#######################
### filament sensor ###
#######################

[filament_switch_sensor filament_sensor]
switch_pin: EBBCan:PB9
pause_on_runout: True
runout_gcode:
    _SENSOR_UNLOAD
insert_gcode:
    _SENSOR_LOAD
event_delay: 3.0

##############
### beacon ###
##############

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_5F88B73B5157355957202020FF0E0725-if00
speed: 3 # Z probing dive speed. 2-4mm/s recommended
lift_speed: 5 # Z probing lift speed.
backlash_comp: 0.086304
x_offset: 0
y_offset: 19.5
z_settling_time: 20 # Delay (in ms) for the Z axis to settle before taking proximity measurements.

default_probe_method: contact # Sets the default probing method for mesh, tilt, qgl, probe, etc.
contact_max_hotend_temperature: 180 # increase to enable hot contacting
# Temperature limit for the hotend when contacting, override this for temps which may damage some surfaces.

#mesh_runs: 2 warum nicht "not valid"

#home_method: contact
#home_method_when_homed: proximity
# home_autocalibrate: unhomed

# home_autocalibrate: always
# Sets the autocalibration behavior. `always` will autocal on every home, `unhomed` on initial homing,
# `never` will never so that models stored in config may be used with proximity homing.
# new autocalibration config options

contact_sensitivity: 1
contact_latency_min: 15
autocal_speed: 3
autocal_accel: 100
autocal_retract_dist: 2
autocal_retract_speed: 10
autocal_sample_count: 3
autocal_tolerance: 0.015 # = rotation_distance / Steps per full turn = (40/(200*16)) = 0.0125
autocal_max_retries: 20

[bed_mesh] #BED_MESH_CALIBRATE PROBE_METHOD=proximity(bzw.scan???)
speed: 50
horizontal_move_z: 10
mesh_radius: 180
mesh_origin: 0, 19.5
adaptive_margin: 10
scan_overshoot: 30
round_probe_count: 5
algorithm: bicubic 

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PF4
min_temp: 0
max_temp: 100

[temperature_sensor temp_mcu]
sensor_type: temperature_mcu
min_temp: 10
max_temp: 100

[temperature_sensor temp_host]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

# needs to be done
[heater_bed]
heater_pin: PA1
sensor_pin: PF3
sensor_type: Generic 3950
min_temp: 0
max_temp: 90
control: watermark
max_delta: 0.1

#################
### fan setup ###
#################

[fan] #CPAP
pin: PA8
max_power: 0.8 
# This should be set to 0.8 on most motherboards to give full range of control to your slicer. 
# Anything above 80% duty cycle will be full power on this particular brushless driver.
# To fine-tune the max_power parameter for your particular motherboard, set max_power to 1.0, go into the Klipper dashboard, and increase fan speed 1% at a time until the actual fan speed stops increasing as you increase the fan speed. Divide the fan speed at this point by 100 and enter it into the max_power parameter.
# This parameter defines the maximum power (expressed as a value from 0.0 to 1.0) that the pin may be set to. 
# The value 1.0 allows the pin to be set fully enabled for extended periods, while a value of 0.5 would allow the pin to be enabled for no more than half the time. 
# This setting may be used to limit the total power output (over extended periods) to the fan. 
# If this value is less than 1.0, then fan speed requests will be scaled between zero and max_power (for example, if max_power is 0.9 and a fan speed of 80% is requested, then the fan power will be set to 72%).
shutdown_speed: 0 
# The desired fan speed (expressed as a value from 0.0 to 1.0) if 
# The microcontroller software enters an error state. 
# The default is 0.
cycle_time: 0.005 
hardware_pwm: False 
kick_start_time: 0.100 
off_below: 0.1 
# The blower will not spin with the included brushless driver when the duty cycle is below 8%. When scaled with Max_power at 0.8, the off_below parameter should be set to 0.1. 
# To calibrate this setting, gradually lower the fan speed to determine the lowest input speed that reliably drives the fan without stalls. 
# Set off_below to the duty cycle corresponding to this value (for example, 8% -> 0.08/Max_power -> 0.08/0.8 -> 0.1) or slightly higher. 
# This parameter is the minimum input speed that will power the fan (expressed as a value from 0.0 to 1.0). 
# When a speed lower than off_below is requested, the fan will instead be turned off. 
# This setting may be used to prevent fan stalls and to ensure effective kick starts. 
# To calibrate this setting, start with off_below set to 0.0 and the fan spinning. 
# Gradually lower the fan speed to determine the lowest input speed that reliably drives the fan without stalls. 
# Set off_below to the duty cycle corresponding to this value (for example, 12% -> 0.12) or slightly higher.

[heater_fan heatbreak_cooling_fan]
pin: EBBCan:PA1
max_power: 1.0 #vielleicht weniger schnell drehen lassen
shutdown_speed: 1.0 
heater_temp: 60
fan_speed: 1.0


[controller_fan driver_fan0]
pin: PE5
max_power: 1.0
shutdown_speed: 1.0
fan_speed: 1.0
idle_timeout: 60
idle_speed: 1.0
heater: #leer, weil default wert "extruder" wär
stepper: stepper_a, stepper_a1, stepper_b, stepper_b1, stepper_c, stepper_c1

[controller_fan driver_fan1]
pin: PD12
max_power: 1.0
shutdown_speed: 1.0
fan_speed: 1.0
idle_timeout: 60
idle_speed: 1.0
heater: #leer, weil default wert "extruder" wär
stepper: stepper_a, stepper_a1, stepper_b, stepper_b1, stepper_c, stepper_c1

#############
### mcu's ###
#############
[mcu]
canbus_uuid: 2cf77383fe33

[mcu host]
serial: /tmp/klipper_host_mcu

[mcu EBBCan]
canbus_uuid: 207e59ee3f32

#[neopixel my_neopixel]
#pin: PB0

[delta_calibrate]
radius: 180

[gcode_arcs]
resolution: 0.1

[endstop_phase]

[input_shaper]
shaper_freq_x: 141.4
shaper_type_x: 2hump_ei
shaper_freq_y: 135.6
shaper_type_y: 3hump_ei

[resonance_tester]
accel_chip: beacon
probe_points: 0, 0, 300
max_freq: 220

[exclude_object]
#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [beacon model default]
#*# model_coef = 1.547158128727006,
#*# 	1.9404827548614183,
#*# 	0.7617962182874506,
#*# 	-0.07923769470848514,
#*# 	0.6540706414829793,
#*# 	1.999474408619082,
#*# 	-1.0585733690022476,
#*# 	-3.0185995075271115,
#*# 	0.6904272817877811,
#*# 	1.5624903088801205
#*# model_domain = 1.866644102192605e-07,1.9375783218860036e-07
#*# model_range = 0.199897,4.999897
#*# model_temp = 35.958822
#*# model_offset = 0.00000
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.023
#*# pid_ki = 1.631
#*# pid_kd = 74.330
#*#
#*# [printer]
#*# delta_radius = 376.871145
#*#
#*# [stepper_a]
#*# angle = 210.860537
#*# arm_length = 683.315480
#*# position_endstop = 850.376942
#*#
#*# [stepper_b]
#*# angle = 329.778124
#*# arm_length = 679.697092
#*# position_endstop = 852.562675
#*#
#*# [stepper_c]
#*# angle = 90.000000
#*# arm_length = 693.276527
#*# position_endstop = 848.943088
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.107512, -0.107512, -0.107512, -0.107512, -0.107512
#*# 	0.052933, 0.052933, -0.028921, -0.056505, -0.056505
#*# 	0.165642, 0.056816, 0.004167, 0.014567, -0.041724
#*# 	0.047863, 0.047863, -0.058923, -0.111138, -0.111138
#*# 	-0.014451, -0.014451, -0.014451, -0.014451, -0.014451
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = -180.0
#*# max_x = 180.0
#*# min_y = -160.5
#*# max_y = 199.5
#*#
#*# [endstop_phase stepper_a]
#*# trigger_phase = 18/64
#*#
#*# [endstop_phase stepper_b]
#*# trigger_phase = 47/64
#*#
#*# [endstop_phase stepper_c]
#*# trigger_phase = 22/64
#*#
#*# [delta_calibrate]
#*# height0 = 0.0
#*# height0_pos = 67904.024,68182.664,68070.312
#*# height1 = 0.0
#*# height1_pos = 75102.336,74956.436,61644.645
#*# height2 = 0.0
#*# height2_pos = 65713.991,79753.849,65653.349
#*# height3 = 0.0
#*# height3_pos = 61982.760,74226.107,73999.168
#*# height4 = 0.0
#*# height4_pos = 65606.963,66137.703,76423.009
#*# height5 = 0.0
#*# height5_pos = 72642.733,62735.993,73031.289
#*# height6 = 0.0
#*# height6_pos = 77827.821,65835.965,65812.683
#*# distance0 = 130.70000000000002
#*# distance0_pos1 = 67548.119,68368.670,68250.516
#*# distance0_pos2 = 62356.584,73488.302,73324.833
#*# distance1 = 131.4
#*# distance1_pos1 = 67782.177,67888.654,68489.058
#*# distance1_pos2 = 65704.634,65815.329,77697.855
#*# distance2 = 131.10000000000002
#*# distance2_pos1 = 68260.171,67652.717,68250.516
#*# distance2_pos2 = 73340.350,62441.953,73324.833
#*# distance3 = 130.6
#*# distance3_pos1 = 68504.214,67893.025,67777.150
#*# distance3_pos2 = 77829.897,65879.933,65760.834
#*# distance4 = 131.05
#*# distance4_pos1 = 68266.401,68373.089,67542.288
#*# distance4_pos2 = 73448.937,73565.416,62395.303
#*# distance5 = 130.8
#*# distance5_pos1 = 67788.341,68612.838,67777.150
#*# distance5_pos2 = 65795.752,77989.244,65760.834
#*# distance6 = 131.0
#*# distance6_pos1 = 62772.124,72405.387,73047.623
#*# distance6_pos2 = 66082.130,65511.072,77295.779
#*# distance7 = 130.7
#*# distance7_pos1 = 66155.642,65582.968,76504.662
#*# distance7_pos2 = 73521.337,62583.429,72701.300
#*# distance8 = 131.0
#*# distance8_pos1 = 73066.997,62863.640,72257.342
#*# distance8_pos2 = 77425.364,66259.509,65458.137
#*# distance9 = 130.8
#*# distance9_pos1 = 76622.045,66328.328,65527.127
#*# distance9_pos2 = 72816.780,73741.754,62533.284
#*# distance10 = 130.65
#*# distance10_pos1 = 72363.412,73277.968,62810.368
#*# distance10_pos2 = 65487.142,77575.242,66135.326
#*# distance11 = 131.1
#*# distance11_pos1 = 65553.861,76766.788,66205.300
#*# distance11_pos2 = 62492.879,72854.227,73500.307
